{% extends "teste/base.html" %}

{% block content %}
<h1 class="great-vibes-regular">Meus Pensamentos</h1>
<a class="ms-4" style="text-decoration: none; color: #ffff" href="{% url "index" %}">Home</a>
<p class="ms-3">
    <div class="container">
        <p class="d-inline-flex gap-1">
            <a class="btn btn-success ms-5" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Digitar Pensamentos
            </a>
        </p>
        <p class="d-inline-flex gap-1">
            <a class="btn btn-secondary ms-5" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                Ver Pensamentos
            </a>
        </p>

        <div class="collapse text-light" id="collapseExample">
            <div class="bg-dark card card-body">
                <h1 class="great-vibes-regular">Pensamentos e Sonhos</h1>

                <form method="post" action="{% url 'registrar_humano' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="pensamento">Registrar pensamento</label>
                            <textarea id="pensamento" name="texto_pensamento" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="sonho">Registrar sonhos</label>
                            <textarea id="sonho" name="texto_sonho" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Salvar" class="btn btn-primary">
                </form>
                <p>Clique em Salvar e registre seu pensamento ou sonho.</p>
            </div>
        </div>

        <div class="collapse text-light" id="collapseExample1">
            <div class="bg-dark card card-body">
                <h1 class="great-vibes-regular">Pensamentos e Sonhos Registrados</h1>
                <ul>
                    {% for humano in humanos %}
                        {% if humano.texto_pensamento %}
                            <li><i style="color:#05fa1d;"> {{ humano.data_criacao }}</i>  <b class="great-vibes-regular ms-2" style="color:#ff9; font-size:24px;">Pensamento</b><br> {{ humano.texto_pensamento }} <hr></li>
                        {% endif %}
                        {% if humano.texto_sonho %}
                            <li><i style="color:#05fa1d;"> {{ humano.data_criacao }}</i>  <b class="great-vibes-regular ms-2" style="color:#ff9; font-size:24px;">Sonho</b><br> {{ humano.texto_sonho }} <hr></li>
                        {% endif %}
                    {% empty %}
                        <li>Nenhum pensamento ou sonho registrado.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</p>
{% endblock %}
